@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

:root {
    --primary-color: rgb(00, 00, 00);
    --off-white: #636363;
    --dark-gray: #212121;
}

body {
    margin: 0;
    font-family: Serif, arial, Helvetica, sans-serif;;
    background-color: rgb(80, 80, 80);
    font-size : x-large;
}

hr {
    margin: 2rem 0rem;
}

/* spaces */
.margin-md {
    margin: 2rem;
}

.container {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    

}
.container-centre{
    max-width: 700px;
    margin: auto;
}
.showcase-list{
    padding: 2rem;
    border-radius: 2rem;
    margin: 2rem auto;
    max-width: 600px;
    text-align: justify ;
    

}

/* links */

.link {     
    text-decoration: none;
    padding: 0.5rem 1rem;
    

}


.primary-link {
    background-color: var(--primary-color);
    border-radius: .5rem;
    color: white;
    
}

.secondary-link {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color)
}

.list-non-bullet {
    list-style: none;
    text-align: center;
    padding-inline-start: 0px;  
}

.list-inline {
    display: inline;
    padding: 1rem;
    
}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;


}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
    
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: white;
}

.navigation .link-active {
    font-weight: 900;
}

.hero {
    padding: 2rem ;
    padding-top: 5rem;
}

.hero .hero-img {
    width: 100%;
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    color: var(--dark-gray);
    text-align: center;
    padding: 1rem;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}

.section {
    padding: 2rem;
}

.ow {
    background-color: var(--off-white);
}

.section h1  {
    text-align: center;
}

h4{
    text-align: center;
}

.justify-text {
    text-align: justify ;
}

footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: white;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}


.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.familiar{
text-align: center;
padding-inline-start: 0px;  

}

.gif{
    width: 100%;
}

.column img:hover {
    border: 4px solid white;
}

*{
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}
  
.column {
    -ms-flex: 25%; /* IE 10 */
    flex: 25%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: auto;
}